## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
sample_list_1 = set(random.sample(range(100), k = 80))

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [15]:
sample_list_2 = random.sample(range(100), k = 80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
set2 = set(sample_list_2)
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
set3 = set1.difference(set2)
set3

{3, 15, 24, 35, 44, 47, 48, 60, 72, 73, 85}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
set4 = set2.difference(set1)
set4

{11, 14, 21, 25, 33, 43, 58, 63, 82, 89, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [23]:
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
80
11
11
69

In [28]:
#Full set (e.g. set1 or set2) minus what the values they do not have in common (e.g. difference), 
#equals the lenght of the intersection between sets (e.g. set5). Example below:
full_set = set1
difference = set3

len_set_intersection = full_set - difference
len(len_set_intersection)

69

#### Create an empty set called `set6`.

In [29]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [30]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [31]:
print(set1.difference(set6))

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [35]:
print("set1 contains set2 is ",set1.issubset(set2))
print("set1 contains set3 is ", set1.issubset(set3))

set1 contains set2 is  False
set1 contains set3 is  False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
union1 = set3.union(set4,set5)
union2 = set1.union(set2)
print("If set is list, no different values between sets, thus, all values are equal - ",union1.difference(union2))

If set is list, no different values between sets, thus, all values are equal -  set()

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [50]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 22, 24, 26, 27, 28, 29, 30, 34, 35, 36, 37, 38, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [55]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)

In [57]:
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 24, 26, 27, 28, 30, 34, 35, 36, 37, 38, 42, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 60, 62, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97}